@charset "UTF-8";

@media screen and (min-width: 600px) {
    #burguer{
        display: none;
    }
    nav p:hover{
       color: rgba(128, 255, 0, 0.785);
       cursor:pointer;
      
    }
    .linkedin a{
        display: block;
        text-align: center;
        font-size: 1em;
        padding-top: 15px;
        position: relative;
        width: 10%;
        height: 40px;
        border: 3px solid #12d6e1;
        border-radius: 7px;
        text-decoration: none;
    
    }
    .github a{
        display: block;
        text-align: center;
        font-size: 1em;
        position: relative;
        margin-top: -60px;
        left: 120px;
        padding-top: 15px;
        width: 10%;
        height: 40px;
        border: 3px solid #12d6e1;
        border-radius: 7px;
    
    }
    menu#lista{
        display:flex;
    }
    header {
        position: fixed;
        width: 100%;
        z-index: 100;
    }
    nav {
        padding: 0 15%;
        display: flex;
        align-items: center;
        border-bottom: 2px solid #272727;
        font-weight: bold;
        height: 80px;
        transition: 0.3s;
    }
    nav.fixed {
        box-shadow: 0 4px 4px rgba(0,0,0,.3);
    }
    nav ul {
        display: flex;
        justify-content: end;
    }
    nav ul li {
        list-style: none;
        margin: 10px 30px;
    }
    nav ul li:hover::after {
        transform: scaleX(1);
    }
    nav ul li::after {
        content: "";
        display: block;
        border-bottom: 2px solid #12d6e1;
        margin-top: 5px;
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }
    .container .dinamico{
        margin-left: 300px;
        font-size: 50px;
       
        
    }
    footer:hover {
        color:rgba(128, 255, 0, 0.785);
        
        
    }
}
