@charset "UTF-8";

@media screen and (min-width: 600px) {
    #burguer{
        display: none;
    }

    nav p:hover{
       color: rgba(128, 255, 0, 0.785);
       cursor:pointer;
      
    }

    .linkedin a{
       
        align-items: center;
        text-align: center;
        font-size: 1em;
        padding-top: 15px;
        position: relative;
        width: 10%;
        height: 35px;
        border: 7px solid #12d6e1;
        border-radius: 105px;
        text-decoration: none;
    
    }

    .github a{
        display: block;
        text-align: center;
        font-size: 1em;
        position: relative;
        margin-top: -65px;
        left: 150px;
        padding-top: 15px;
        width: 10%;
        height: 35px;
        border: 7px solid #12d6e1;
        border-radius: 105px;
    
    }
    
    img#ghost{
        display: inline-block;
        position: absolute;
        left: 900px;
        top: 300px;
        width: 200px;
        animation: float  3s ease-in-out infinite;
    }

    @keyframes float{
        0%,100%{
            transform: translatey(0);
        }
        50%{
            transform: translateY(-50px);
        }
    }

    menu#lista{
        display:flex;
    }

    header {
        position: fixed;
        width: 100%;
        z-index: 100;
    }

    nav {
        padding: 0 15%;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #272727;
        font-weight: bold;
        height: 50px;
        transition: 0.3s;
    }

    nav.fixed {
        box-shadow: 0 4px 4px rgba(0,0,0,.3);
    }

    nav ul {
        display: flex;
        justify-content: end;
    }

    nav ul li {
        list-style: none;
        margin: 0px 25px;
    }

    nav ul li:hover::after {
        transform: scaleX(1);
    }

    nav ul li::after {
        content: "";
        display: flex;
        border-bottom: 3px solid #12d6e1;
        margin-top: 5px;
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }
    nav ul li #habi{
        margin-top: -8px;
    }
    
    .container{
        width: 1000px;
        position: relative;
        display: flex;
        justify-content: space-around;
    }

    
    
    footer:hover {
        color:rgba(128, 255, 0, 0.785);
        
        
    }
}
