@charset "UTF-8";

* {
  margin: 0;
  border: 0;
  background-color: #121212;
  color: rgb(255, 250, 250);
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
}
html,
body {
  width: 100vw;
  height: 100%;
}
header {
  padding: 10px;
  width: 100%;
  z-index: 100;
}

img#ghost {
  display: none;
}

img#perfil {
  border-radius: 50% ;
  width: 300px;
  height: 300px;
  object-fit: fill;
}

menu {
  display: none;
}

nav ul li {
  list-style: none;
  margin: 1px -8s5px;
}

menu > ul > li > a {
  display: flex;
  padding: 5px;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  margin-left: -80px;
}

menu > ul > li > a#habi{
  margin-top: -1px;
}

.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
  margin: 15px;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

nav p {
  /*Logo IS*/
  padding: -10px;
  font-size: 1.8rem;
  width: 100%;
  color: #12d6e1;
}

.imagens{
  margin-top: 30px;

}

.imagens img{
  width: 70px;
  margin: 10px;
}

#linkdin{
  transition: transform 1s;
  transform: translateX(0) scale(0.5)
}

#github{
  transition: transform 1s;
  transform: translateX(0) scale(0.5)
}

#github:hover, #github:focus {
  transform: translateX(10px) scale(1.2);
}

#linkdin:hover, #linkdin:focus {
  transform: translateX(10px) scale(1.2);
}

.ihablidades {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.ihablidades img {
  display: flex;
  max-width: 100px;
  max-height: 100px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.html, 
.css, 
.js, 
.react, 
.ts, 
.git, 
.sql{
  transition: transform 1s;
  transform: translateX(0) scale(0.5)
}

.html:hover, 
.css:hover, 
.js:hover, 
.react:hover, 
.ts:hover, 
.git:hover, 
.sql:hover{
  transform: translateX(10px) scale(1.2);
}

.buttonDownload {
  display: inline-block;
  position: relative;
  padding: 10px 25px;
  background-color: #12d6e1;
  color: white;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 0.9em;
  text-align: center;
  text-indent: 15px;
  border: none;
}
 
.buttonDownload:hover {
  background-color: #08565a;
  color: white;
}
 
.buttonDownload:before, .buttonDownload:after {
  content: ' ';
  display: block;
  position: absolute;
  left: 15px;
  top: 52%;
}
 
.buttonDownload:before {
  width: 10px;
  height: 2px;
  border-style: solid;
  border-width: 0 2px 2px;
}
 
.buttonDownload:after {
  width: 0;
  height: 0;
  margin-left: 3px;
  margin-top: -7px;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: transparent;
  border-top-color: inherit;
  animation: downloadArrow 1s linear infinite;
  animation-play-state: paused;
}
 
.buttonDownload:hover:before {
  border-color: #cdefbd;
}
 
.buttonDownload:hover:after {
  border-top-color: #cdefbd;
  animation-play-state: running;
}
 
@keyframes downloadArrow {
  0% {
   margin-top: -7px;
   opacity: 1;
  }
 
  0.001% {
   margin-top: -15px;
   opacity: 0.4;
  }
 
  50% {
   opacity: 1;
  }
 
  100% {
   margin-top: 0;
   opacity: 0.4;
  }
}

h1,
h2,
p {
  margin: 0;
}

h1 {
  text-transform: uppercase;
}

h2 {
  font-size: 1rem;
}

h1#inome {
  color: #12d6e1;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 1rem;
}
.principal,
.sobre-mim,
.Habilidade {
  padding: 6.5% 15%;
  min-height: 35vh;
}
.principal h1{
    display: flex;
    justify-content: flex-start;
}
.projetos .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
section h1 {
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
  color: white;
}
.container .card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#geSenha,
#calcImc,
#cardVazio {
  margin-left: 2px;
}

.container .card .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
  top: 19px;
  right: 150px;
  border-radius: 5px;
}

.container .card .face.face1 {
  background: #0b0b0b;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container .card:hover .face.face1 {
  background-color: #000000;
  transform: translateY(0);
}

.container .card:hover .face.face1 .content {
  opacity: 1;
}

.container .card .face.face1 .content img {
  width: 300px;
  height: 200px;
}

.container .card .face.face1 .content h3 {
  margin: 10px 0 0;
  color: white;
  text-align: center;
  font-size: 1.5em;
}

.container .card .face.face2 {
  background-color: #00000000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.container .card:hover .face.face2 {
  transform: translateY(0px);
}

.container .card:hover .face.face2 .content a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #ffffff;
  padding: 5px;
  border: 1px solid #00000000;
  transition: 0.4s;
}

.container .card:hover .face.face2 .content a:hover {
  border-radius: 10px;
  background: #12d6e1;
  color: white;
}

.container .content p {
  background-color: #00000000;
}

.container .content a {
  background-color: #00000000;
}

footer {
  padding: 2rem 0;
  text-align: center;
  
}

small {
  color: #12d6e1;
  font-weight: bold;
  transition: 0.4s;
  cursor: pointer;
}
